<div class="container bg-light p-3">
    <div class="row">
        <div class="col ">
            <h2 class="border-bottom border-3 pb-3">project name</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            nav
        </div>
    </div>
    <div class="row ">
        <div class="dol-4">
            <p>git hub link</p>

        </div>
        <div class="dol-4"></div>
        <div class="dol-4"></div>
    </div>
</div>