@using DevTeamUp.BLL.DTOs;
@model IList<ProjectDTO>

<div class="container white-bg p-5">
    <div class="row mb-3">
        <div class="col">
            <h1>Проекти</h1>
            <form>
                <div class="input-group">

                    <input class="form-control" type="text" value="" />
                    <input class="btn btn-success" type="submit" value="find" />
                </div>
                <div class="mb-3 p-3 border border-3 rounded-3 ">
                    <select class="form-control selectpicker source" data-live-search="true">
                        <option value="">Технології</option>

                        <option>C#</option>
                        <option>JavaScript</option>
                        <option>Python</option>
                        <option>Java</option>
                        <option>C++</option>
                        <option>HTML</option>
                        <option>CSS</option>
                        <option>SQL</option>
                        <option>Ruby</option>
                        <option>PHP</option>
                        <option>Swift</option>
                        <option>TypeScript</option>
                        <option>Go</option>
                        <option>Kotlin</option>
                        <option>Scala</option>
                        <option>Perl</option>
                        <option>Rust</option>
                        <option>Objective-C</option>
                        <option>VB.NET</option>
                        <option>Assembly</option>
                       

                    </select>
                    <hr />
                    <div class="selected">
                    </div>
                    <div id="hideInputs">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row ">
       @* <div class="col-lg-4 col-md-12 ">
            <div class="project-list-item card mb-4 box-shadow position-relative ">

                <div class="card-body">
                    <h5 class="card-title">Title</h5>
                    <div>
                        <ul class="project-skills">
                            @for (int j = 0; j < 5; j++)
                            {
                                <li class="project-skill-item">Skill name</li>
                            }
                        </ul>
                    </div>
                    <div class="card-subtitle">
                        Mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
                    </div>
                    <div class="d-flex justify-content-between align-items-center">

                        <small class="status-project">find team</small>
                        <small class="members-counter">1/4</small>
                    </div>
                </div>
            </div>
        </div>*@
      
        @foreach (var project in Model)
        {
            <div class="col-lg-4 col-md-12">
                <a href="/Project/@project.Id" class="text-decoration-none text-black">
                    
                    <div class="project-list-item card mb-4 box-shadow position-relative ">

                        <div class="card-body ">
                            <h5 class="card-title">@project.Name</h5>
                            <div>
                                    <ul class="project-skills">
                                        @foreach (var item in project.Stack)
                                        {
                                            <li class="project-skill-item">@item.Name</li>
                                        }
                                    </ul>
                                </div>
                            <div class="card-subtitle">
                                    @project.ShortDescription
                                </div>
                        
                            <div class="d-flex justify-content-between align-items-center">

                               @* <small class="status-project">find team</small>
                                <small class="members-counter">1/4</small>*@
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }


       @* <div class="col-lg-4 col-md-12">
            <a href="#" class="text-decoration-none text-black">

                <div class="project-list-item card mb-4 box-shadow position-relative ">

                    <div class="card-body ">
                        <h5 class="card-title">Project </h5>
                        <div>
                            <ul class="project-skills">
                                
                                    <li class="project-skill-item">Js</li>
                                <li class="project-skill-item">c#</li>
                                <li class="project-skill-item">sql</li>
                                <li class="project-skill-item">html/css</li>
                                
                            </ul>
                        </div>
                        <div class="card-subtitle">
                            Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.
                        </div>

                        <div class="d-flex justify-content-between align-items-center">

                            
                            <small class="members-counter">Розробників: 1</small>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-12">
            <a href="#" class="text-decoration-none text-black">

                <div class="project-list-item card mb-4 box-shadow position-relative ">

                    <div class="card-body ">
                        <h5 class="card-title">Project </h5>
                        <div>
                            <ul class="project-skills">

                                <li class="project-skill-item">python</li>
                                <li class="project-skill-item">Django</li>
                                

                            </ul>
                        </div>
                        <div class="card-subtitle">
                            
                            Elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce.
                        </div>

                        <div class="d-flex justify-content-between align-items-center">


                            <small class="members-counter">Розробників: 1</small>
                        </div>
                    </div>
                </div>
            </a>
        </div>
         <div class="col-lg-4 col-md-12">
            <a href="#" class="text-decoration-none text-black">

                <div class="project-list-item card mb-4 box-shadow position-relative ">

                    <div class="card-body ">
                        <h5 class="card-title">Project </h5>
                        <div>
                            <ul class="project-skills">
                                
                                    <li class="project-skill-item">java</li>
                                <li class="project-skill-item">spring</li>
                                <li class="project-skill-item">sql</li>
                                <li class="project-skill-item">html/css</li>
                                <li class="project-skill-item">js</li>
                                
                            </ul>
                        </div>
                        <div class="card-subtitle">
                            Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.
                        </div>

                        <div class="d-flex justify-content-between align-items-center">

                            
                            <small class="members-counter">Розробників: 1</small>
                        </div>
                    </div>
                </div>
            </a>
        </div>
         <div class="col-lg-4 col-md-12">
            <a href="#" class="text-decoration-none text-black">

                <div class="project-list-item card mb-4 box-shadow position-relative ">

                    <div class="card-body ">
                        <h5 class="card-title">Project </h5>
                        <div>
                            <ul class="project-skills">
                                
                                    <li class="project-skill-item">Js</li>
                                <li class="project-skill-item">c#</li>
                                <li class="project-skill-item">sql</li>
                                <li class="project-skill-item">html/css</li>
                                
                            </ul>
                        </div>
                        <div class="card-subtitle">
                            Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.
                        </div>

                        <div class="d-flex justify-content-between align-items-center">

                            
                            <small class="members-counter">Розробників: 1</small>
                        </div>
                    </div>
                </div>
            </a>
        </div>
         <div class="col-lg-4 col-md-12">
            <a href="#" class="text-decoration-none text-black">

                <div class="project-list-item card mb-4 box-shadow position-relative ">

                    <div class="card-body ">
                        <h5 class="card-title">Project </h5>
                        <div>
                            <ul class="project-skills">
                                
                                    <li class="project-skill-item">Js</li>
                                <li class="project-skill-item">c#</li>
                                <li class="project-skill-item">sql</li>
                                <li class="project-skill-item">html/css</li>
                                
                            </ul>
                        </div>
                        <div class="card-subtitle">
                            Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.
                        </div>

                        <div class="d-flex justify-content-between align-items-center">

                            
                            <small class="members-counter">Розробників: 1</small>
                        </div>
                    </div>
                </div>
            </a>
        </div>
         <div class="col-lg-4 col-md-12">
            <a href="#" class="text-decoration-none text-black">

                <div class="project-list-item card mb-4 box-shadow position-relative ">

                    <div class="card-body ">
                        <h5 class="card-title">Project </h5>
                        <div>
                            <ul class="project-skills">
                                
                                    <li class="project-skill-item">Js</li>
                                <li class="project-skill-item">c#</li>
                                <li class="project-skill-item">sql</li>
                                <li class="project-skill-item">html/css</li>
                                
                            </ul>
                        </div>
                        <div class="card-subtitle">
                            Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.
                        </div>

                        <div class="d-flex justify-content-between align-items-center">

                            
                            <small class="members-counter">Розробників: 1</small>
                        </div>
                    </div>
                </div>
            </a>
        </div>
         <div class="col-lg-4 col-md-12">
            <a href="#" class="text-decoration-none text-black">

                <div class="project-list-item card mb-4 box-shadow position-relative ">

                    <div class="card-body ">
                        <h5 class="card-title">Project </h5>
                        <div>
                            <ul class="project-skills">
                                
                                    <li class="project-skill-item">Js</li>
                                <li class="project-skill-item">c#</li>
                                <li class="project-skill-item">sql</li>
                                <li class="project-skill-item">html/css</li>
                                
                            </ul>
                        </div>
                        <div class="card-subtitle">
                            Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.
                        </div>

                        <div class="d-flex justify-content-between align-items-center">

                            
                            <small class="members-counter">Розробників: 1</small>
                        </div>
                    </div>
                </div>
            </a>
        </div>
         <div class="col-lg-4 col-md-12">
            <a href="#" class="text-decoration-none text-black">

                <div class="project-list-item card mb-4 box-shadow position-relative ">

                    <div class="card-body ">
                        <h5 class="card-title">Project </h5>
                        <div>
                            <ul class="project-skills">
                                
                                    <li class="project-skill-item">Js</li>
                                <li class="project-skill-item">nodejs</li>
                                
                                <li class="project-skill-item">html/css</li>
                                
                            </ul>
                        </div>
                        <div class="card-subtitle">
                            Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.
                        </div>

                        <div class="d-flex justify-content-between align-items-center">

                            
                            <small class="members-counter">Розробників: 1</small>
                        </div>
                    </div>
                </div>
            </a>
        </div>
         <div class="col-lg-4 col-md-12">
            <a href="#" class="text-decoration-none text-black">

                <div class="project-list-item card mb-4 box-shadow position-relative ">

                    <div class="card-body ">
                        <h5 class="card-title">Project </h5>
                        <div>
                            <ul class="project-skills">
                                
                                    <li class="project-skill-item">Js</li>
                                <li class="project-skill-item">c#</li>
                                <li class="project-skill-item">sql</li>
                                <li class="project-skill-item">html/css</li>
                                
                            </ul>
                        </div>
                        <div class="card-subtitle">
                            Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.
                        </div>

                        <div class="d-flex justify-content-between align-items-center">

                            
                            <small class="members-counter">Розробників: 1</small>
                        </div>
                    </div>
                </div>
            </a>
        </div>
         <div class="col-lg-4 col-md-12">
            <a href="#" class="text-decoration-none text-black">

                <div class="project-list-item card mb-4 box-shadow position-relative ">

                    <div class="card-body ">
                        <h5 class="card-title">Project </h5>
                        <div>
                            <ul class="project-skills">
                                
                                    <li class="project-skill-item">Js</li>
                                <li class="project-skill-item">java</li>
                                <li class="project-skill-item">sql</li>
                                <li class="project-skill-item">html/css</li>
                                <li class="project-skill-item">spring</li>
                                
                            </ul>
                        </div>
                        <div class="card-subtitle">
                            Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.
                        </div>

                        <div class="d-flex justify-content-between align-items-center">

                            
                            <small class="members-counter">Розробників: 1</small>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-12">
            <a href="#" class="text-decoration-none text-black">

                <div class="project-list-item card mb-4 box-shadow position-relative ">

                    <div class="card-body ">
                        <h5 class="card-title">Project </h5>
                        <div>
                            <ul class="project-skills">

                                <li class="project-skill-item">Js</li>
                               
                                <li class="project-skill-item">html/css</li>

                            </ul>
                        </div>
                        <div class="card-subtitle">
                            Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.
                        </div>

                        <div class="d-flex justify-content-between align-items-center">


                            <small class="members-counter">Розробників: 2</small>
                        </div>
                    </div>
                </div>
            </a>
        </div>*@
    </div>
</div>