html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #211951;
}

/*auth page*/
.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}


.skill-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* Добавляем свои стили */
    
    border: none;
    outline: none;
    overflow: visible;
    
}

.selectItemView{
    margin-right: 5px;
}


.img-box{

}

.img-box img{
    width: 100%;
}


.skills{
    list-style-type: none;  
    padding: 0px;
}

.skill-item {
    background-color: #15F5BA;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
    color: #211951;
}

/* PROJECT list page*/
.project-list-item{
    cursor: pointer;
}

.project-list-item .project-skills{
    list-style-type: none;
    padding: 0px;
}

.project-skills .project-skill-item {
    background-color: #15F5BA;
    display: inline-block;
    padding: 0.1rem 0.3rem;
    border-radius: 0.3rem;
    color: #211951;
    margin-bottom: 0.3rem;
    font-size: 0.8rem;
}