html {
  font-size: 14px;
  font-family: sans-serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


html {
  /*position: relative;*/
  min-height: 100%;
}


body {
    margin-bottom: 60px;
    background-color: #F2F5F8;
}

.white-bg {
    background-color: #FFFFFF;
}

.mc-shadow {
    box-shadow: 0px 0px 20px 0px #cccccc;
}

.skill-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* Добавляем свои стили */
    
    border: none;
    outline: none;
    overflow: visible;
    
}

.selectItemView{
    margin-right: 5px;
}


.img-box{

}

.img-box img{
    width: 100%;
}


.skills{
    list-style-type: none;  
    padding: 0px;
}

.skill-item {
    background-color: #F2F5F8;
    display: inline-block;
    padding: 0.3rem 1rem;
    border-radius: 3px;
    color: black;
}

/* PROJECT list page*/
.project-list-item{
    
}

.project-list-item .project-skills{
    list-style-type: none;
    padding: 0px;
}

.project-skills .project-skill-item {
    background-color: #F2F5F8;
    display: inline-block;
    padding: 0.1rem 0.3rem;
    border-radius: 0.3rem;
    color: #211951;
    margin-bottom: 0.3rem;
    font-size: 0.8rem;
}