@using DevTeamUp.BLL.DTOs;
@model IList<ProfileListItemDTO>

<div class="container white-bg p-5">
    <div class="row mb-3">
        <div class="col">
            <h1>Користувачі</h1>
            <form asp-action="List" asp-controller="Profile">
                <div class="input-group">

                    <input class="form-control" type="text" value="" name="query" />
                    <input class="btn btn-success" type="submit" value="find" />
                </div>
            </form>
        </div>
    </div>
    <div class="row">
       
        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-12">
                <div class="profile-list-item card mb-4 box-shadow position-relative ">
                    <div class="card-body">
                        <a class="card-title text-decoration-none link-unstyled text-black fw-bold  "
                            style="font-size: 18pt"
                           href="/Profile?uId=@item.Id">@item.FirstName @item.LastName</a>
                        <div>
                            <ul class="project-skills ps-0 mt-1">
                                @foreach (var skill in item.Skills)
                                {
                                    <li class="project-skill-item p-1">@skill.Name</li>
                                }
                            </ul>
                        </div>
                        <div class="card-subtitle">
                            @item.Bio
                        </div>
                        <div class="d-flex justify-content-between align-items-center">

                            @*<small class="status-project">find team</small>
                            <small class="members-counter">Rating: 4/5</small>*@
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>