@*<h1>My profile</h1>

<p>User info</p>
<div class="userInfo">

</div>  
<hr />

<p>Projects:</p>
<div class="projects">

</div>
<a asp-action="CreateProject" asp-controller="Project">Create project</a>
<hr />

<p>reviews:</p>
<div class="reviews">

</div>
<hr />


*@
@*
    делаю по макету фавера
https://www.fiverr.com/meusman*@

<div class="container">
    <div class="row">
        <div class="col-4">
            avatar
        </div>
        <div class="col-8 ">
            <div>
                <div>Username</div>
                <div>rating</div>
                <div>
                    Consectetur adipiscing elit fusce vel.
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div>
                <p>about</p>
                <div class="about">
                    Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div>
                <p>skills</p>
                <div class="skills">
                    Consectetur adipiscing elit fusce vel.
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div>
                <div class="projects">
                    <div class="project">
                        my test project
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div>
                <hr />
                <p>reviws</p>
            </div>
        </div>
    </div>
</div>